<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/new/new.css"/>
    <script defer src="/new/new.js"></script>
    <title>New Post</title>
</head>
<body>
    
    <div class="authStatus">
        <span>Signed in as: </span>
        <span class="username"></span>
    </div>
    
    <button class="signOutBtn">Sign Out</button>

    <div class="signInMsg">
        <p>Sign in to post a message</p>
    </div>

    <button class="signInBtn">Sign In</button>

    <form name="form" method="POST" action="/new" >
        <h1>New Post</h1>

        <div>
            <label for="user">Name</label>
            <input readonly="true" id="user" name="user" type="text" />
        </div>

        <div>
            <label for="text">Message</label>
            <textarea id="text" name="text"></textarea>
        </div>

        <input type="submit"/>
    </form>
</body>
</html>